/* ---------Style for table------------- */

body, td, th, tr, p, a {

    font-family: 'Lato', Verdana, Helvetica, sans-serif;

    font-size: 14px

}



/* ---------Style for table------------- */

table {

    border: 0;

    margin: auto;

    border-spacing: 0;

    border-collapse: collapse;

}



/* Inherit from table and set its width */

#main-table {

    width: 1000px

}



/* Inherit from table and set its width */

.sub-table {

    width: 100%;

}



/* ---------Style for td-------------------- */



/* td-with-padding */

.td-with-padding {

    padding: 20px;

    width: 100%;

}


.td-with-padding-image {

    padding: 20px;

    width: 50%;

    float: left;

}


.td-with-padding2 {

    padding: 20px;

    width: 20%;

}

.publication_left{
    
  
    padding: 20px;

    width: 30%;
  
}

.publication_right{
    
  
    padding: 20px;

    width: 60%;

}





/* ---------Style for p-------------------- */

.p-center {

    text-align: center;

}



#email {

    font-family: monospace;

    font-size: 14px;

    color: blue;

}





/* ---------Style for name-------------------- */

name {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 34px;

}



/* ---------Style for span-------------------- */

.emphasis {

    color: #c56900;

}



.align-right {

    float: right;

    text-align: right;

}

/* ---------Style for a-------------------- */

a {

    color: #1772d0;

    text-decoration: none;

}

a:focus,

a:hover {

    color: #f09228;

    text-decoration: none;

} 




/* ---------Style for li-------------------- */

.li-margin {

    margin-bottom: 10px;

}

/* ---------Style for my image-------------------- */

#Weiqi-image {

    width: 200px;


}

.out-content {
    width: 1200px;
    height: 400px;
    margin: 50px auto;
}

.in-content {
    width: 170px;
    height: 160px;
    position: relative;
    float: left;
    margin: 30px;
}

.c-images {
    width: 100%;
    height: 72%;
}

.c-title {
    color: azure;
    width: 100%;
    text-indent: 16px;
    font-size: 5px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);/*透明效果*/
}

/* ---------Style for heading-------------------- */

heading {

    font-family: 'Lato', Verdana, Helvetica, sans-serif;

    font-size: 22px;

}
